<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>WKExtendedRuntimeSessionEnabled</key>
	<true/>
	<key>WKExtendedRuntimeSessionWatchOSVersion</key>
	<integer>6</integer>
	<key>WKNotificationUsageDescription</key>
	<string>在您的小睡時間結束時發送通知來喚醒您</string>
</dict>
</plist>
